<style>
    footer{
    width: 100%;
    bottom: 0;
}

.header_profile{ 
    height: 70vmax;
    background-image: url(../hihucss/hanseoLogoGray.jpg);
    background-size: 50vmin 50vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel{
  vertical-align: middle;
  height: 65vh;
  color: black;
  background-color: white;
}
.carousel-caption{
  vertical-align: middle;
  height: 100%;
}
.carousel-inner{
  margin-top : 10vh;
  padding-bottom: 3vh;
  height: 100%;
}
.carousel-item{
  margin-top: 25vh;
  height: 100%;
}
</style>
<body>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFFFFF"/></svg>

          <!--<img src="..." class="d-block w-100" alt="Hello">-->
          <div class="carousel-caption d-none d-md-block" style="color: black;" >
            <h1>총학생회 투표 일정 안내</h1>
          <p>투표 기간 : 11.29 ~ 11.30</p>
          <p>투표 장소(서산) : 학생회관 1층</p>
          <p>투표 장소(태안) : 본관 목업실</p>
          <p>준비물 : 힉생증 또는 신분증</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFFFFF"/></svg>

          <!--<img src="..." class="d-block w-100" alt="Hello">-->
          <div class="carousel-caption d-none d-md-block" style="color: black;">
            <h1>대의원회 투표 일정 안내</h1>
          <p>투표 기간 : 12.7</p>
          <p>투표 장소 : 인곡관 문화홀</p>
          <p>투표 대상 : 신학회장</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFFFFF"/></svg>

          <!--<img src="..." class="d-block w-100" alt="Hello">-->
          <div class="carousel-caption d-none d-md-block" style="color: black;">
            <h1>강의평가 일정 안내</h1>
          <p>평가 기간 : 11.28 ~ 12.9</p>
          <p>평가 방법 : 한서포탈 -> 교육통합정보시스템 -> 성적 -> 강의평가</p>
          </div>
        </div>
      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>