<style>
  footer {
    width: 100%;
    bottom: 0;
  }

  .header_profile {
    height: 70vmax;
    background-image: url(../hihucss/hanseoLogoGray.jpg);
    background-size: 50vmin 50vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .carousel {
    vertical-align: middle;
    height: 65vh;
    color: black;
    background-color: white;
  }

  .carousel-caption {
    vertical-align: middle;
    height: 100%;
  }

  .carousel-inner {
    margin-top: 10vh;
    padding-bottom: 3vh;
    height: 100%;
  }

  .carousel-item {
    margin-top: 25vh;
    height: 100%;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .carousel-control-next-icon {
    background-color: rgba(64,64,64,1);
    border-radius: 10px;
  }
  .carousel-control-prev-icon{
    background-color: rgba(64,64,64,1);
    border-radius: 10px;
  }
</style>

<body>
  <div id="myCarousel" class="club carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#FFFFFF" />
        </svg>
        <!-- <div class="container">
          <div class="carousel-caption" style="color: black;">
            <h1>⚽월드컵 일정⚽</h1>
            <h1>대한민국 VS 브라질</h1>
            <p>경기 일정 : 12.6 (화) 04:00</p>
            <p>👊중요한 것은 꺾이지 않는 마음👊</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#FFFFFF" />
        </svg> !-->
        <div class="container">
          <div class="carousel-caption" style="color: black;">
            <h1>국가장학금 신청 안내</h1>
            <p>신청 기간 : 11.24(목) ~ 12.29(목)</p>
            <p>한국장학재단 이용</p>
          </div>
        </div>
      </div>
      <div class="carousel-item" >
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#FFFFFF" />
        </svg>

        <div class="container">
          <div class="carousel-caption" style="color: black;">
            <h3>기말고사 일정 안내✏</h3>
            <p>기간 : 12.15 ~ 12.21</p>
            <p>보강주 : 12.8 ~ 12.14</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#FFFFFF" />
        </svg>

        <div class="container">
          <div class="carousel-caption" style="color: black;">
            <h3>기말고사 모두 화이팅~~</h3>
            <p>HIHU가 여러분을 응원합니다💪</p>
            <p>올 한해도 모두 수고많았어요😊</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="color: black;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" style="color: black;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>

    </button>
  </div>
</body>