<style>
    footer{
    width: 100%;
    bottom: 0;
}

.header_profile{ 
    height: 70vmax;
    background-image: url(../hihucss/hanseoLogoGray.jpg);
    background-size: 50vmin 50vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel{
  vertical-align: middle;
  height: 65vh;
  color: black;
  background-color: white;
}
.carousel-caption{
  vertical-align: middle;
  height: 100%;
}
.carousel-inner{
  margin-top : 10vh;
  padding-bottom: 3vh;
  height: 100%;
}
.carousel-item{
  margin-top: 25vh;
  height: 100%;
}
</style>
<body>
<div id="myCarousel" class="club carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption">
          <h1>공지</h1>
          <p>수정을 원하시는 동아리는 로고 및 설명을 아래 메일보내기로 첨부해주세요</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption">
          <h1>공지</h1>
          <p>공지사항 혹은 홍보를 원하는 동아리는 메일로 문의바랍니다.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption">
          <h1>공지</h1>
          <p>수정을 원하시는 동아리는 로고 및 설명을 아래 메일보내기로 첨부해주세요</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</body>